@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Matheus @ViewData["Matheus"]</p>

    <p>@ViewData["email"]</p>

<address>
    <strong> Informações: </strong> 
    <a href:"https://github.com/MatheusTRR97"Contato</a>
</address>